<!doctype html>
<title>La Pinche Linea</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
   <div class=page>
      <h1>¿Que tan larga esta la pinche linea?</h1>
      {% block body %}{% endblock %}
      <div class=inputs>
         <form action="{{ url_for('search_port') }}" method=POST>
            ¿Donde?:
            <select name=puertos>
               <option value="San Ysidro">San Ysidro</option>
               <option value="Tecate">Tecate</option>
               <option value="Otay Mesa">Otay Mesa</option>
               <option value="Andrade">Andrade</option>
               <option value="Calexico">Calexico</option>
            </select>
            <div><input name=tipolinea type=checkbox /> Ando a pie pinche desconsiderado</div>
            <div class=actions><input type=submit value="Buscar"></div>
         </form>
      </div>
   </div>
   <div class="footer">Hecho con amor por <a href="http://frncscgmz.me">Francisco Gomez</a></div>
</body>
