<!DOCTYPE html>
<head>
   <title>La Pinche Linea</title>
   <meta name="viewport" 
      content="width=device-width, initial-scale=1, maximum-scale=1">
   <!--<link href="/static/css/base.css" rel="stylesheet" media="screen">-->
   <link href="/static/css/layout.css" rel="stylesheet" media="screen">
   <link href="/static/css/skeleton.css" rel="stylesheet" media="screen">
   <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
   <div class="container">
      <h1>¿Que tan larga esta la pinche linea?</h1>
      {% block body %}{% endblock %}
      <div class=inputs>
         <form action="{{ url_for('search_port') }}" method=POST>
            ¿Donde?:
            <select name=puertos>
               <option value="San Ysidro">San Ysidro</option>
               <option value="Tecate">Tecate</option>
               <option value="Otay Mesa">Otay Mesa</option>
               <option value="Calexico">Calexico</option>
               <option value="San Luis">San Luis</option>
            </select>
            <div>
               <input name=tipolinea type=checkbox 
               {% if checked %}checked="checked"{% endif %}/> Ando a pie pinche desconsiderado
            </div>
            <div class=actions><input type=submit value="Buscar"></div>
         </form>
      </div>
      <div class="footer">Hecho con amor por 
         <a href="http://frncscgmz.me">Francisco Gomez</a></div>
   </div>
</body>
